    <footer>
      <div class="container">
        <a href="#" class="brand">Brand</a>
        <a href="http://www.wokine.com/">Créé par {% include "components/wkn.twig" %}</a>
      </div>
    </footer>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/plugins/ScrollToPlugin.min.js"></script>
    <script src="https://unpkg.com/in-view@0.6.1/dist/in-view.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/3.0.0/lazysizes.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.6/js/swiper.min.js" ></script>
    <script src="{{ theme.link }}/build/js/barba.min.js"></script>
    <script src="{{ theme.link }}/build/js/SplitText.min.js"></script>
    <script src="{{ theme.link }}/build/js/app.min.js" async></script>
  </body>
</html>
