html {
  font-size: 62.5%;
}

html,
body {
    width: 100%;
    height:100%;
}

body {
	font-family:$lato;
	color:$base;
  background:$white;

  &.is-loading {
    overflow:hidden;
    visibility:hidden;
  }

}

.app {
  overflow:hidden;
}
