{% extends "_base.twig" %}

{% block content %}

<main class="barba-container page page--home" data-namespace="page-home">
  <div class="container">
    <h1>Hello Bitches!</h1>
  </div>
</main>

{% endblock %}
